{% extends "base.html" %}
{% block content %}
		<div class="picbody">
			<div class="perview">
				<div class="inimgshow">
					<img src="static/img/black.png"/>
				</div>
			</div>
			<div  class="selectbtn steptwo">开始转换</div>
		</div>
	<script type="text/javascript">
			//调整图片高宽
function imgHW(obj){
	var imgWidth, imgHeight;
	var docRatio=window.innerWidth/window.innerHeight;
		var img = new Image();
		img.src = obj.src;
			imgWidth = img.naturalWidth;
			imgHeight = img.naturalHeight;
			var ratio = imgWidth / imgHeight;
			if (docRatio <= 1) {
				if (ratio >= 1) {
					$(obj).width("100%");
					$(obj).height("auto");
					var top=(window.innerHeight-window.innerWidth*imgHeight/imgWidth)/2;
					$(obj).css("margin-top",top+"px");
				} else {
					if (ratio >= docRatio) {
						$(obj).css("width", "100%");
						$(obj).css("height", "auto");
						var top=(window.innerHeight-window.innerWidth*imgHeight/imgWidth)/2;
						$(obj).css("margin-top",top+"px");
					} else {
						$(obj).width("auto");
						$(obj).height("100%");
					}
				}
			} else {
				if (ratio <= 1) {
					$(obj).width("auto");
					$(obj).height("100%");
				} else {
					if (ratio >= docRatio) {
						$(obj).css("width", "100%");
						$(obj).css("height", "auto");
						var top=(window.innerHeight-window.innerWidth*imgHeight/imgWidth)/2;
						$(obj).css("margin-top",top+"px");
					} else {
						$(obj).width("auto");
						$(obj).height("100%");
					}
				}
			}
}
		</script>
{% endblock %}
